/var/
/vendor/
/web/core/

/web/modules/contrib/
/web/sites/*/settings*.php
/web/sites/*/files/
/web/sites/*/private/
/web/sites/simpletest/
/web/sites/README.txt
/web/themes/contrib/

/web/.csslintrc
/web/.eslintignore
/web/.htaccess
/web/*.config
/web/*.md
/web/*.json
/web/*.php
/web/*.txt

.editorconfig
